<div class="footer">
    <div class="footer-top">
        <div class="footer-top-block1">
            <div class="footer-top-block-text">
                СВЯЗЬ
            </div>
            <div class="footer-top-block-text-sm">
                 +7 (911) 555-31-67
            </div>
            <div class="footer-top-block-text-sm">
                 yancherth@gmail.com
            </div>
        </div>
        <div class="footer-top-block2">
            <div class="footer-top-block-text">
                ПРОДУКЦИЯ
            </div>
            <div class="footer-top-block-text-sm">
                <a href="{% url 'catalog' %}">Пряники</a>
            </div>
            <div class="footer-top-block-text-sm">
                Маршмеллоу
            </div>
            <div class="footer-top-block-text-sm">
                Зефир
            </div>
        </div>
        <div class="footer-top-block3">
            <div class="footer-top-block-text">
                МАГАЗИН
            </div>
            <div class="footer-top-block-text-sm">
                Доставка
            </div>
            <div class="footer-top-block-text-sm">
                Оплата
            </div>
            <div class="footer-top-block-text-sm">
                Сроки изготовления
            </div>
            <div class="footer-top-block-text-sm">
                Состав
            </div>
            <div class="footer-top-block-text-sm">
                Свой дизайн
            </div>
        </div>
        <div class="footer-top-block4">
            <div class="footer-top-block-text">
                ИНФОРМАЦИЯ
            </div>
            <div class="footer-top-block-text-sm">
                Обо мне
            </div>
            <div class="footer-top-block-text-sm">
                Мастер классы
            </div>
            <div class="footer-top-block-text-sm">
                Выставки
            </div>
        </div>
    </div>
    <div class="footer-bot">
        <div class="footer-bot-text">Копирайт © 2018 - 2020. Интернет магазин Улица Пряников. Все права защищены.</div>
    </div>
</div>